.App{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.innerContent{
  width: 45%;
  border:  1px solid darkgrey;
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.textRowContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  margin-top: 0.5rem;
  padding: 0.5rem;
  
}
.sectionName{
  font-weight: bold;
}